
{% extends "nav_template.html"%}
    <title>Colors</title>

        {% block main_container %}
        <!-- back ground color -->
        <div>
            <div>Background Colors</div>
            <div class="bg-primary">bg-primary</div>
            <div class="bg-success">bg-success</div>
            <div class="bg-info">bg-info</div>
            <div class="bg-warning">bg-warning</div>
            <div class="bg-danger">bg-danger</div>
            <div class="bg-secondary">bg-secondary</div>
            <div class="bg-dark">bg-dark</div>
            <div class="bg-light">bg-light</div>
        </div>
        <hr>
        <!-- text color -->
        <div>
            <div>Text Colors</div>
            <div class="text-muted">This text is muted.</div>
            <div class="text-primary">This text is important.</div>
            <div class="text-success">This text indicates success.</div>
            <div class="text-info">This text represents some information.</div>
            <div class="text-warning">This text represents a warning.</div>
            <div class="text-danger">This text represents danger.</div>
            <div class="text-secondary">Secondary text.</div>
            <div class="text-dark">This text is dark grey.</div>
            <div class="text-body">Default body color (often black).</div>
            <div class="text-light">This text is light grey (on white background).</div>
            <div class="text-white">This text is white (on white background).</div>
        </div>
        <hr>
        <!-- mix color with text and BG -->
        <div>
            <div>mix color with text and BG</div>
            <div class="bg-success text-white">bg-success</div>
        </div>
        <hr>
        <div>
            <div>Background Color with Contrasting Text Color</div>
            <div class="text-bg-primary">This text is important.</div>
            <div class="text-bg-success">This text indicates success.</div>
            <div class="text-bg-info">This text represents some information.</div>
            <div class="text-bg-warning">This text represents a warning.</div>
            <div class="text-bg-danger">This text represents danger.</div>
            <div class="text-bg-secondary">Secondary background color.</div>
            <div class="text-bg-dark">Dark grey background color.</div>
            <div class="text-bg-light">Light grey background color.</div>
        </div>
        {% endblock %}

