{% extends "nav_template.html"%}
<title>Forms</title>

{% block main_container %}

<div>radio buttons</div>
<form action="./links.html" method="get">
    <div>

        <div>- 희망 사항 선택 -</div>
        <div class="form-check">
            <label for="doglang2">멈무이 말 희망<input class="form-check-input" type="radio" name="hope_lang" value="dog_lang"
                    id="doglang2"></label>
        </div>

        <div class="form-check">
            <label class="form-check-label" for="catlang2">고먐미 말 희망<input class="form-check-input" type="radio"
                    name="hope_lang" value="cat_lang" id="catlang2"></label>
        </div>
    </div>
    <div><button type="submit">links로 정보 전달</button>
        <button type="reset">같은 form내 정보 재설정</button>
    </div>
    </div>

</form>
<br>
<div>apply form-control with row and col</div>
<!-- apply form-control with row and col -->
<div class="row">
    <div class="col-3">
        <input type="text" class="form-control-plaintext" placeholder="e-mail">
    </div>
    <div class="col-4">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="col-5">
        <label for="carcompanyname">Choose Car Company :</label>
        <select class="form-select" name="car_company_name" id="carcompanyname">
            <option value="CAR_01">볼보</option>
            <option value="CAR_02" selected>횬다이</option>
            <option value="CAR_03">아우지</option>
            <option value="CAR_04">뽀로로 로쉐</option>
        </select>
    </div>
</div>
<hr>
<div>apply form-control</div>
<!-- apply form-control -->
<label for="email" class="form-label">Email:</label>
<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">

<div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
</div>
<div class="form-check mb-3">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
    </label>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<hr>
<!-- select menu -->
<div>
    <label for="carcompanyname">Choose Car Company :</label>
    <select class="form-select" name="car_company_name" id="carcompanyname">
        <option value="CAR_01">볼보</option>
        <option value="CAR_02" selected>횬다이</option>
        <option value="CAR_03">아우지</option>
        <option value="CAR_04">뽀로로 로쉐</option>
    </select>
</div>
{% endblock %}
