{% extends "nav_template.html"%}

<title>회원가입</title>

{% block main_container %}
<!-- <h4>연산 exp : {{ 2 + 1 }}</h4>
<h4>논리 exp : {{ 10 <= 5 }}</h4>
<h4>first 변수 받기 : {{ first }} </h4>
<h4>second 변수 받기 : {{ second }} </h4>
<h4>변수 끼리 합산 : {{ first + second }} </h4>
<h2>회원가입</h2> -->
<form action="">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="manager"> 관리자 여부
        </label>
    </div>
    <div class="mb-3">
        <label for="sel1" class="form-label">Select list (select one):</label>
        <select class="form-select" id="sel1" name="sellist1">
            <option value="Option1">1</option>
            <option value="Option2">2</option>
            <option value="Option3">3</option>
            <option value="Option4">4</option>
        </select>
    </div>
    <div>
        <label for="comment">Comments:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" formaction="/users/insert" formmethod="post">가입</button>
    <button type="submit" class="btn btn-primary" formaction="/">취소</button>

</form>
{% endblock %}