{% extends "nav_template.html"%}

<title>로그인</title>
{% block main_container %}

<h2>로그인</h2>
<!-- html 주석 -->
{# jinja 주석 #}
manager : {{form_data.manager}}
, select list : {{ form_data.sellist1 }}
, test : {{ form_data.text }}
<form action="">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" 
      placeholder="Enter email" name="email" value="{{ form_data.email }}">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>
  <div class="form-check mb-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="remember"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary" formaction="/users/list" formmethod="post">Submit</button>
</form>
{% endblock %}